{% extends 'eshop/header.html' %}
{% block content %}


<body class="bg-light">

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Modifier votre avis</h4>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex gap-3 mt-4">
                            <a href="javascript:history.back()" class="btn btn-outline-secondary px-4">Annuler</a>
                            <button type="submit" class="btn btn-success px-5">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}